<!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Registration or Sign Up form in HTML CSS | CodingLab </title>
    <link rel="stylesheet" href="/static/logincss/style.css">
   </head>
   
<body>
    
  <div class="wrapper">
    <h2>LOGIN</h2>
    <form action="" method="POST">
        {% csrf_token %}
      <div class="input-box">
        <input name="username" id="username" placeholder="Enter your Username">
      </div>
      <div class="input-box">
        <input input type="password" name="usercontactno" id="username" placeholder="Enter your Password">
      </div>
      
      <div class="input-box button">
        <input type="Submit" value="Login Now">
      </div>
      <div class="text">
        <h3>Haven't you have an account? <a href="/userreg/">Register now</a></h3>
      </div>
    </form>
  </div>

</body>
</html>
