{% include 'indira_canteen/header.html'%}
  

  
{%include 'indira_canteen/slidebar.html'%}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>User_details</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Validation</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- jquery validation -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">User_details<small>_form</small></h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form action="/canteen/user_edit/{{uview.id}}" method="POST" id="quickForm">
                {% csrf_token %}
                <div class="card-body">
                  <div class="form-group">
                    <label for="exampleInputEmail1">user_fullname</label>
                    <input type="text" name="user_fullname" class="form-control" id="user_fullname" value="{{uview.user_fullname}}">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">user_email_id</label>
                    <input type="email" name="user_emailid" class="form-control" id="user_emailid" value="{{uview.user_emailid}}">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">user_contact_no</label>
                    <input type="text" name="user_contactnumber" class="form-control" id="user_contactnumber" value="{{uview.user_contactnumber}}">
                  </div>
                  
                  <div class="form-group mb-0">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" name="terms" class="custom-control-input" id="exampleCheck1">
                      
                    </div>
                  </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                  <button type="Reset"  class="btn btn-primary">Reset</button>
                </div>
              </form>
            </div>
            <!-- /.card -->
            </div>
          <!--/.col (left) -->
          <!-- right column -->
          <div class="col-md-6">

          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  {% include 'indira_canteen/footer.html'%}